<div class="flex items-center space-x-3">
    <img src="images/logo/logo-jata-negara.png" style="max-width: 28px;" class="w-full h-auto object-contain mx-auto md:max-w-[42px]">
    <img src="images/logo/logo-osca-kkkp.webp" style="max-width: 80px;" class="md:max-w-[130px]">
    <div class="w-[1px] h-7 bg-gray-200 dinamik-border"></div>
    <h1 class="text-xs font-extrabold tracking-tight text-slate-800 uppercase">One Stop Centre for Addiction</h1>
    <p class="text-[9px] text-slate-400 font-medium">Klinik Kesihatan Kuala Perlis</p>
</div>

<nav class="hidden md:flex items-center space-x-1">
    <a href="index.html" id="osca-nav-index" class="px-3 py-1 rounded-lg text-xs font-medium text-slate-600 hover:text-emerald-600 transition-all">Utama</a>
    <a href="perkhidmatan.html" id="osca-nav-perkhidmatan" class="px-3 py-1 rounded-lg text-xs font-medium text-slate-600 hover:text-emerald-600 transition-all">Pakej Perkhidmatan</a>
    <a href="aktiviti.html" id="osca-nav-aktiviti" class="px-3 py-1 rounded-lg text-xs font-medium text-slate-600 hover:text-emerald-600 transition-all">Galeri Aktiviti</a>
    <a href="rujukan.html" id="osca-nav-rujukan" class="px-3 py-1 rounded-lg text-xs font-medium text-slate-600 hover:text-emerald-600 transition-all">Direktori & Rujukan</a>
</nav>

<div class="flex items-center space-x-2">
    <span class="text-[10px] bg-slate-100 text-slate-600 font-bold px-2.5 py-1 rounded-md border">
        V1.0 Live
    </span>
</div>